name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Resolve Dependencies
        run: swift package resolve

      - name: Build for iOS Simulator
        run: |
          xcodebuild build \
            -scheme FirebaseAILogicObjC \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=latest' \
            -skipPackagePluginValidation \
            | xcpretty || true

      - name: Build for macOS
        run: swift build -v
